---
import { getCollection } from "astro:content";
import Base from "@layouts/Base.astro";

const posts = await getCollection('posts');
---

<Base slug="blog">
	<ul>
		{ posts && posts.map((post) => (
			<li>
				<a
					href={ `/blog/${ post.slug }/` }
				>
					{ post.data.title }
				</a>
			</li>
		))}
	</ul>
</Base>
