---
// Libs, types
import slug from "@lib/slug";
import {
	Frontmatter,
	Post,
} from "@lib/types";

const allPosts = await Astro.glob<Frontmatter>("../posts/**/*.md");
const posts:(Post & Frontmatter)[] = [];

for (const post of allPosts) {
	posts.push({
		slug: slug(post.file),
		...post.frontmatter
	})
}

---
<ul>
{ posts.length && posts.map((post) => (
	<li><a href={ `${ post.slug }/` }>{ post.title }</a></li>
))}
</ul>
