---

---

<footer>
	<nav>
		<ul>
			<li><a href="/now/">Now</a></li>
			<li>
				<a href="/notes/">Notes</a>
			</li>
			<li>
				<a href="/links/">Links</a>
			</li>
			<li>
				<a href="/rss">RSS &raquo;</a>
			</li>
		</ul>
	</nav>
	<nav class="social">
		<ul>
			<li class="cc">
				<a
					class="silent"
					href="https://creativecommons.org/licenses/by-sa/4.0/"
					>CC BY-SA</a
				>
				<a class="silent" href={Astro.site}>Anne Fortuin</a>
			</li>
			<li>
				<a rel="me" href="https://mastodon.social/@phortuin">Mastodon</a
				>
			</li>
			<li>
				<a rel="me" href="https://bsky.app/profile/annefortuin.nl"
					>Bluesky</a
				>
			</li>
			<li>
				<a rel="me" href="https://github.com/phortuin">GitHub</a>
			</li>
		</ul>
	</nav>
</footer>

<style>
	footer {
		margin-block-start: var(--sp-large);
		font-size: var(--fs-small);
	}
	a.silent::after {
		content: "";
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
	}
	li {
		margin-inline-end: var(--sp-half);
	}
	li:last-child {
		margin-inline-end: 0;
	}
	li::before {
		content: "";
	}
	.cc {
		margin-block-start: var(--sp-default);
		grow: 1;
		width: 100%;
	}
	@media screen and (min-width: 40rem) {
		.cc {
			margin-block-start: 0;
			grow: 0;
			width: auto;
		}
	}
</style>
