---

---

<footer>
	<nav>
		<ul>
			<li><a href="/now/">Now &raquo;</a></li>
			<li>
				<a href="/notes/">Notes</a>
			</li>
			<li>
				<a href="/links/">Links</a>
			</li>
		</ul>
	</nav>
	<nav class="social">
		<ul>
			<li>
				<a
					class="silent"
					href="https://creativecommons.org/licenses/by/4.0/deed.en"
					>CC BY</a
				> Anne Fortuin
			</li>
			<li>
				<a rel="me" href="https://mastodon.social/@phortuin">Mastodon</a
				>
			</li>
			<li>
				<a rel="me" href="https://bsky.app/profile/annefortuin.nl"
					>Bluesky</a
				>
			</li>
			<li>
				<a rel="me" href="https://github.com/phortuin">GitHub</a>
			</li>
		</ul>
	</nav>
</footer>

<style>
	footer {
		margin-block-start: var(--sp-large);
		font-size: var(--fs-small);
	}
	a::after {
		content: "";
	}
	ul {
		display: flex;
		margin: 0;
		padding: 0;
		gap: var(--sp-half);
	}
	li::before {
		content: "";
	}
</style>
