---
---
<footer>
	<section>
	<a href="https://creativecommons.org/licenses/by/4.0/deed.en">CC BY</a> Anne Fortuin
	<nav>
		<ul>
			<li>{
				}<a href="/now/">Now</a>
			</li>
			<li>
				<a href="/about/">About &raquo;</a>
			</li>
			<li>
				<a href="/blog/">Blog</a>
			</li>
			<li>
				<a href="/notes/">Notes</a>
			</li>
		</ul>
	</nav>
	<nav>
		<ul>
			<li>{
				}<a rel="me" href="https://mastodon.social/@phortuin">Mastodon</a>
			</li>
			<li>
				<a href="https://bsky.app/profile/annefortuin.nl">Bluesky</a>
			</li>
		</ul>
	</nav>
	</section>
</footer>

<style>
	ul {
		display: flex;
		padding: 0;
	}
	li::before {
		content: "";
		margin-block-end: 0;
	}
</style>
