---
type Props = {
	slug?: string;
};

const { slug } = Astro.props;
---
<header class="site-header">
	<a href="#main-content" class="skip-link">Skip to main content</a>
	<nav>
		<a href="/" rel="me">&gt; annefortuin.nl{ slug && `/${slug}` }</a>
	</nav>
</header>

<style>
	.skip-link {
		left: -9999rem;
		position: absolute;
		top: var(--sp-default);
		z-index: 1;
	}
	.skip-link:focus {
		color: ButtonText;
		background: Highlight;
		left: var(--sp-default);
		padding: var(--sp-half);
	}
	nav a {
		color: var(--c-black);
		text-decoration: none;
	}
	nav a::after {
		content: "_";
		animation: pulse 1s steps(2, start) infinite;
	}
	@keyframes pulse {
	  to { visibility: hidden; }
	}
</style>
