---
import { getCollection } from "astro:content";
import { dateToYMD, timeAgo } from "@lib/date";

const allPosts = await getCollection('posts');
const sortedPosts = allPosts.sort((a, b) => a.data.pubDate > b.data.pubDate ? -1 : 1)
const latestPost = sortedPosts[0];
---
<p>
	<time datetime={ dateToYMD(latestPost.data.pubDate) }>
		{ timeAgo(latestPost.data.pubDate) }
	</time>
	—
	<a href={ `/blog/${latestPost.slug}/` }>{ latestPost.data.title }</a> &rarr;
</p>

<style>
	:root {
		--offset-correction: -0.25rem;
	}
	p {
		display: inline-block;
		padding: var(--sp-half) var(--sp-default);
		margin-inline-start: var(--offset-correction);
		margin-block-end: var(--sp-double);
		font-size: var(--fs-small);
		background: ButtonFace;
		color: ButtonText;
		border-radius: var(--br);
		font-variation-settings: var(--fv-mono);
	}
	a {
		color: ButtonText;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
</style>
