---
// Libs, types
import { getCollection } from "astro:content";
import { sortCollection } from "@lib/sort";

// Find current post (by slug) in sorted collection and return the next
// post. Wraps around to the oldest post
async function getNextPost(slug:string) {
	const allPosts = await getCollection("posts");
	const thisPostIndex = sortCollection(allPosts)
		.findIndex((post) => post.slug === slug);
	return thisPostIndex === allPosts.length - 1
		? allPosts[0]
		: allPosts[thisPostIndex + 1];
}

type Props = {
	slug: string;
}

const { slug } = Astro.props;

const nextPost = await getNextPost(slug.replace("blog/", ""));
---
<nav>
	Lees ook <a href={ `/blog/${nextPost.slug}/` }>{ nextPost.data.title } &rarr;</a>
</nav>
