---
// Libs, types
import { getCollection } from "astro:content";
import { dateToYMD, formatDateYMD } from "@lib/date";
import { sortCollection } from "@lib/sort";

const posts = await getCollection("posts");
---

<nav>
	<ul>
		{
			posts &&
				sortCollection(posts).map((post) => (
					<li>
						<a href={`/blog/${post.slug}/`}>{post.data.title}</a>
						<time datetime={dateToYMD(post.data.pubDate)}>
							{formatDateYMD(post.data.pubDate)}
						</time>
					</li>
				))
		}
	</ul>
</nav>
