---
import { getCollection } from "astro:content";
import { dateToYMD, formatDate } from "@lib/date";

const posts = await getCollection('posts');
---
<nav>
	<ul>
		{ posts && posts.map((post) => (
			<li>
				<time datetime={ dateToYMD(post.data.pubDate) }>
					{ formatDate(post.data.pubDate) }
				</time>
				<a
					href={ `/blog/${ post.slug }/` }
				>
					{ post.data.title }
				</a>
			</li>
		))}
	</ul>
</nav>
