:root {
	--max-width: 40rem;
	--sp-large: 4rem;
	--sp-double: 2.5rem;
	--sp-default: 1.25rem;
	--sp-half: 0.75rem;
	--sp-small: 0.375rem;
	--sp-tiny: 0.1875rem;
	--sp-h1-correction: -0.0625rem;
	--br: 0.5rem;
	--br-small: 0.25rem;
	--ff:
		"Recursive", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		sans-serif;
	--fs-h1: 2em;
	--fs-default-large: 1.25em;
	--fs-default: 1em;
	--fs-small: 0.875em;
	--fs-smallest: 0.75em;
	--fv-mono: "MONO" 1;
	--ls-enlarged: 0.025em;
	--ls-reduced: -0.025em;
	--c-white: #f7f7f0;
	--c-black: CanvasText;
	--c-black-less-opaque: rgba(0, 0, 0, 0.5);
	--c-yellow: rgba(240, 224, 0, 0.5);
	--bg-darken: rgba(0, 0, 0, 0.05);
	--c-bg-yellow: #ffffe7;
	--c-bg-blue: #f0f7ff;
	--c-bg-green: #efe;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font: 1em var(--ff);
	padding: var(--sp-default);
	line-height: 1.45;
	font-size: var(--fs-default);
	font-variation-settings:
		"wght" 400,
		"slnt" 0;
	font-feature-settings:
		"kern" 1,
		"liga" 1,
		"dlig" 1,
		"ss01" 0,
		"ss02" 1;
	color: var(--c-black);
	letter-spacing: var(--ls-reduced);
	background: var(--c-white);
}

@media screen and (min-width: 40rem) {
	body {
		font-size: var(--fs-default-large);
		padding: var(--sp-double);
	}
}

main {
	margin-block-start: var(--sp-double);
}

main,
.site-header,
footer {
	max-width: var(--max-width);
	margin-inline: auto;
}

h1 {
	font-size: var(--fs-h1);
	font-variation-settings:
		"wght" 900,
		"slnt" -5,
		"CRSV" 1;
	margin-block-end: var(--sp-default);
	line-height: 1.1;
	margin-inline-start: var(--sp-h1-correction);
}

h2 {
	margin-block-start: var(--sp-default);
	margin-block-end: var(--sp-half);
	font-size: var(--fs-default);
	font-variation-settings: "wght" 800;
	letter-spacing: var(--ls-enlarged);
}

ul {
	margin-block: 0 var(--sp-default);
	padding-inline-start: var(--sp-default);
	list-style: none;
}

li {
	margin-block-end: var(--sp-tiny);
}

li::before {
	display: block;
	float: left;
	content: " ";
	background: url('data:image/svg+xml,<svg height="6" width="6" xmlns="http://www.w3.org/2000/svg"><rect rx="2" width="6" height="6" fill="currentColor" /></svg>');
	width: var(--sp-default);
	background-repeat: no-repeat;
	background-position: center left;
	margin-inline-start: calc(-1 * var(--sp-default));
}

p {
	margin-block: 0 var(--fs-default);
	text-wrap-style: pretty;
}

hr {
	height: 6px;
	width: 100%;
	margin: var(--sp-double) 0;
	border: 0;
	background: url('data:image/svg+xml,<svg height="7" width="7" xmlns="http://www.w3.org/2000/svg"><rect rx="1" width="3" height="3" fill="currentColor" /></svg>');
}

a {
	color: var(--c-black);
	text-decoration-thickness: 0.1em;
	text-underline-offset: var(--sp-tiny);
}

a[href^="http"]:after {
	content: " ↗";
}

a[download]:after {
	content: " ↓";
}

body.home h2 {
	text-transform: uppercase;
}

body:not(.home) a.internal {
	/** Generated with remarkWikiLinks */
	text-decoration-style: dotted;
}

strong {
	font-variation-settings: "wght" 700;
}

em {
	font-variation-settings:
		"slnt" -8,
		"CRSV" 1;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

figure {
	margin: 0;
	margin-block-end: var(--sp-double);
}

figcaption {
	padding: var(--sp-small);
	font-size: var(--fs-small);
	color: var(--c-black-less-opaque);
	text-align: right;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	position: absolute;
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
}

.markdown-content pre {
	padding: var(--sp-half);
	border-radius: var(--br);
}

p:last-child {
	margin-block-end: 0;
}

.silent {
	text-decoration-line: none;
}

.silent:hover {
	text-decoration-line: underline;
}

pre {
	tab-size: 2;
}

.astro-code {
	border-radius: var(--br);
	padding: var(--sp-half) var(--sp-default);
	font-feature-settings: "locl" 0; /* Turns off localised ligatures such as "ij" in NL */
}

.astro-code code {
	font-family: "Recursive";
	font-variation-settings: var(--fv-mono);
	font-size: var(--fs-small);
}

blockquote {
	margin-block: 0 var(--sp-default);
	margin-inline: 0;
	border-left: 0.5rem solid var(--bg-darken);
	padding-inline: var(--sp-default) 0;
}

mark {
	padding-inline: var(--sp-tiny);
	border-radius: var(--br-small);
	box-decoration-break: clone;
	background-color: var(--c-yellow);
}

body.now,
body.links {
	background: var(--c-bg-yellow);
}
