---
// Libs, types
import { type CollectionEntry } from 'astro:content';

// Components, layouts, styles
import Header from "@components/Header.astro";
import "../global.css";

// CollectionEntry has data (frontmatter) and content types for a collection
type Props = CollectionEntry<"pages">["data"] & {
	slug?: string;
};

const { template, slug, title } = Astro.props;
---
<!doctype html>
<html lang="en">
<head>
	<title>{ `${import.meta.env.DEV ? "DEV・" : ""}${title ? `${title}・` : ""}Anne Fortuin` }</title>
	<meta charset="utf-8">
	<slot name="meta" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="canonical" href={new URL(Astro.url, Astro.site)}>
	<link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='14'%3E🥒%3C/text%3E%3C/svg%3E" type="image/svg+xml" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap" rel="stylesheet">
</head>
<body
	class={ template }>
	<Header slug={ slug }/>
	<main id="main-content">
		{ title && <h1>{title}</h1> }
		<slot />
	</main>
</body>
</html>
