---
// Libs, types
import { type CollectionEntry } from 'astro:content';
import { formatDate, dateToYMD } from "@lib/date";

// Components, layouts
import Base from "@layouts/Base.astro";

// CollectionEntry has data (frontmatter) and content types for a collection
type Props = CollectionEntry<"posts">["data"];

const { title, author, pubDate, description } = Astro.props;
---
<Base
	template="blog">
	<Fragment slot="meta">
		<meta name="description" content={ description }>
	</Fragment>
	<article itemscope itemtype="http://schema.org/BlogPosting">
		<header>
			<h1 itemprop="headline">{ title }</h1>
			<div class="byline vcard">
				<address class="author">By <a rel="author" class="url fn n" href="/">{ author }</a></address>
				<time
					itemprop="datePublished"
					datetime={ pubDate.toISOString().slice(0, 10) }>
					on { formatDate(pubDate) }
				</time>
			</div>
		</header>
		<hr>
		<slot />
	</article>
</Base>
