---
// Libs, types
import date from "@lib/date";
import { Frontmatter } from "@lib/types";

// Components
import Base from '../layouts/base.astro';

// Template parameters
const {
	frontmatter
} = Astro.props as {
	frontmatter: Frontmatter
};
---
<Base>
	<p>Blog</p>
	<h1>{ frontmatter.title }</h1>
	<hr>
	<p>
		{ date(frontmatter.date) }<br>
		By { frontmatter.author }
	</p>
	<slot/>
</Base>
