---
import Base from '../layouts/base.astro';
const { frontmatter } = Astro.props;

function getDate(date:Date) {
	const d = new Date(date);
	let options = {
	  weekday: "long",
	  year: "numeric",
	  month: "long",
	  day: "numeric",
	};
	return new Intl.DateTimeFormat('en-GB', options).format(d)
}
---
<Base>
	<p>Blog</p>
	<h1>{ frontmatter.title }</h1>
	<hr>
	<p>
		{ getDate(frontmatter.date) }<br>
		By { frontmatter.author }
	</p>
	<slot/>
</Base>
