---
// import '../global.css';
const { frontmatter } = Astro.props;

function getDate(date:Date) {
	const d = new Date(date);
	let options = {
	  weekday: "long",
	  year: "numeric",
	  month: "long",
	  day: "numeric",
	};
	return new Intl.DateTimeFormat('en-GB', options).format(d)
}
---
<h1>{ frontmatter.title }</h1>
<p>
	{ getDate(frontmatter.date) }<br>
	By { frontmatter.author }
</p>
<slot/>
<a href="/">&larr; Go back</a>
